.iTXQaq {
	background-color: white;
   z-index: 50;
   margin-bottom: 0px;
}

.fvAeSn{
   background: white;
   margin-top: 0px;
}

.ksOnjL{
   background: white;
   margin-top: 0px;

}

.ezNeFY{
   color: #8B5CF6;
   font-size: 2rem;
   font-weight: bold;
}

.fuBVgf input{
   border: 1px solid #8B5CF6;
}

.kIfSjT{
   color: #8B5CF6;
}

.bsgpsK div{
   color: #8B5CF6;
   font-weight: bold;
}

.jfkdqg:not(:last-of-type){
   border: 1.5px solid #001E2B;
}

.fQfBPh:not(:last-of-type){
   border: 1.5px solid #001E2B;
 
}
.jfkdqg{
   border: 1.5px solid #001E2B;
}

.gyWNLn{
   border: 1.5px solid #001E2B;
   color: #8B5CF6;
}
.bWTWQu  {
   color: #8B5CF6;
   font-weight: 600;
   font-size: 1.2rem;
}

.emVwZU{
      color: #8B5CF6;
   font-weight: 600;
   font-size: 1.2rem;
}

.gPLhoV:disabled{
         color: #8B5CF6;
   font-weight: 600;
   font-size: 1.2rem;
}





