html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

body {
	background-color: white;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply bg-green-80 rounded-md hover:rounded-3xl border-green-60 hover:bg-green-50
           disabled:bg-gray-600 disabled:hover:rounded-md;
	}
	.red-btn {
		@apply bg-red-20 rounded-md  hover:rounded-xl hover:bg-red-600 disabled:bg-gray-400
     disabled:hover:rounded-md px-[1rem] py-[1.4rem] text-white font-[700] text-[1.4rem];
	}
	.blue-btn {
		@apply bg-blue-20 rounded-md  hover:rounded-xl hover:bg-blue-500 disabled:bg-gray-400
     disabled:hover:rounded-md px-[1rem] py-[0.4rem] text-white font-[700] text-[1.4rem]
     transition-all ease-in-out
     ;
	}
   .outline-btn{
      @apply px-[1rem] py-[0.3rem] bg-white outline rounded-md outline-blue-20 text-blue-20
   }




    /* ..................................datatable rows................................... */
  .fQfBPh {
    @apply text-gray-900 dark:text-gray-200  font-bold  text-lg text-opacity-100;
  }

  /* ...............................datatable header............................................... */
  .guIQRM {
    @apply bg-white dark:bg-gray-600 text-gray-900 dark:text-gray-200;
  }
  /* ............................datatable footer......................................... */
  .gyWNLn {
    @apply bg-white dark:bg-gray-600 text-gray-900 dark:text-gray-200;
  }
  /* .................................datatable title....................................... */
  .hmmucc {
    @apply bg-white dark:bg-gray-600 text-gray-900 dark:text-gray-200;
  }
}
